@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/* Related to the button of dark mode switch */
.p-dropdown-trigger {
  display: none !important;
}
