@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  box-shadow: 0px 4px 6px 0px rgba(41, 41, 41, 0.2);
  @apply bg-mainWhite;
}

body h2 {
  @apply text-textPrimary;
}

body p {
  @apply text-textSecondary;
}

.dark body {
  @apply bg-darkBg;
}

.dark body h2 {
  @apply text-white;
}

.dark body p {
  @apply text-gray-400;
}

/* Related to the button of dark mode switch */
.p-dropdown-trigger {
  display: none !important;
}

.custom-container {
  padding: 0px 15px;
}

.font-bastarda {
  font-family: "Jacquarda Bastarda 9", serif;
}
